@import '../../../node_modules/normalize.css/normalize.css';
@import '../variables.scss';

/*
 * Base styles
 * ========================================================================== */

html {
  color: #222;
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  font-family: $font-family-base;
  line-height: 1.375; /* ~22px */
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}
